body {
    font-family: 'Palatino Linotype',sans-serif !important;
}

header {
    background-color: #98482b !important;
    background-image: linear-gradient(to right, #b59d4c, #98482b);
    padding: 20px 0;
}

h1.page-title, h2.page-subtitle {
    color: #b5d3ac;
    font-weight: bold;
}

h2.page-subtitle {
    font-style: italic;
}

.navbar-start {
    margin: auto;
}

footer {
    color: #98482b;
}

footer a {
    color: #98482b;
    text-decoration: underline;
}

